.list {
  margin-top: 20px;
  margin-bottom: 150px;
}

.list-item {
  max-width: 600px;
  height: 70px;

  display: flex;
  align-items: center;
  gap: 30px;
}

.list-item button {
  padding: 5px 10px;
}
